*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    float: left;
    width: 100%;
    height: 23.135vh;
    background-color: #000;
}
 #logo img{
    width:  240px;
    height: 130px;
    position: absolute;
    margin: auto;
    margin-top: 5px;
    left: 0;
    right: 0;
    

}